<h1>Top page</h1> <%#コメントアウトはこれ%>
<%= link_to '新規投稿','/posts/new'%>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
  <% end %>








<%# RubyコードをHTMLに埋め込む erbタグ %><%#上記はhtmlにRubyのコードを埋め込み画面上に表示する記述%>

<%#<% @post %>
<%#上記表記にすると、インスタンス変数に定義した文字列は表示されなくなる%>

